.searchbox{
    height: 30px;
    border-radius: 10px;
    border: 1.5px solid #133C8B;
    input{
        outline: none;
        border: none;
        color: #353535;
        background-color: transparent;
    }
}