.query-options{
    width: fit-content;
}
.inputbox-container{
    height: calc(100% - 66px);
}
.column-name-label{
 font-size: .8rem;   
}
.query-tool-container{
    height: 35px;
}
.saving-query-name{
    width: fit-content;
    border: 1.5px solid #DBDEE6;
    outline: none;
}