.recent-bar{
    height: 65px;
    border: 1px solid  #133c8b;
    i{
        font-size: .7rem;
    }
}

.query-title{
    font-size: .8rem;
    line-height: .8rem;
    font-weight: 550;
    color:  #133c8b;
    overflow-y: hidden;
    height: 1.6rem;
}
.query-msg{
    font-size: .7rem;
    font-weight: 500;
}
.query-success{
    color: #51C04F;
}
.query-fail{
    color: #F30F0F;
}