body{
    overflow: hidden;
}
.bg-white{
    background-color: white;
}
.bg-th-blue{
    background-color: #F0F2F7;
}
.bg-th-side-blue{
    background-color: #F1F5FD;
}
.border-th-left{
    border-left: 1px solid #DBDEE6;
}
.border-th-right{
    border-right: 1px solid #DBDEE6;
}
.border-th-top{
    border-top: 1px solid #DBDEE6;
}
.border-th-bottom{
    border-bottom: 1px solid #DBDEE6;
}
.border-th-width-lg{
    border-width: 1.5px;
}
.h-50{
    height: 50%;
}
.h-40{
    height: 40%;
}
.h-60{
    height: 60%;
}
.gutter{
    background-color: #DBDEE6;
}
.icon-container{
    width: fit-content;
    height: 30px;
    i{
        font-size: 1.2rem;
    }
}
td, th {
    border: 1px solid #DBDEE6;
    white-space: nowrap;
    text-align: left;
    padding: 2px 6px;
    font-size: 12px;
}
th{
    background-color: #F0F2F7;
}